/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #FAF9F6;
}
.container{
    max-width: 500px;
    width: 100%;
    background: white;
    padding: 30px 30px;
    border-radius: 5px;
    text-align: center;
}
.title{
    font-size: 25px;
    font-weight: 500;    
}
.input-box{
    padding:20px;
}
.skatla{
    height: 40px;
    width: 350px;
    padding-left: 43px;
    border-radius: 5px;
    border-width: 1px;
    margin: 10px;
}

.slika{
    height: 25px;
    width: 25px;
    position: absolute;
    margin-top: 17.5px;
    margin-left: -350px;
}
.register{
    height: 40px;
    width: 350px;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer; 
}
.prijava{
    padding: 20px;
}
.slikaoci{
    height: 25px;
    width: 25px;
    position: absolute;
    margin-top: 17.5px;
    margin-left: -50px;
}


